.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 30px;
}

.project-card {
    flex: 0 1 calc(30% - 20px); 
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-button {
    width: 100%;
    background-color: #343a40;
    border: none;
    padding: 10px 0; 
    border-radius: 0; 
    color: white; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

@media (max-width: 768px) {
    .project-card {
        flex-basis: calc(50% - 20px); 
    }
}

@media (max-width: 576px) {
    .project-card {
        flex-basis: calc(100% - 20px); 
    }
}


.project-button:hover {
    background-color: #2b3036;
}


.project-card:hover {
    transform: translateY(-5px);
}

    