.project-cards {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    width: calc(33.33% - 20px); /* Set width to one-third of the container minus some margin */
    margin: 10px; /* Add margin around each card */
    border-radius: 8px; /* Add border-radius for a rounded appearance */
    overflow: hidden; /* Hide any content that overflows the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    transition: transform 0.3s ease; /* Add a smooth transition on hover */
}

.project-card:hover {
    transform: translateY(-5px); /* Move the card slightly upwards on hover */
}

.project-button {
    width: 100%;
    background-color: #343a40;
    border: none;
    padding: 10px 0; /* Add padding to the button */
    border-radius: 0; /* Remove border-radius to make it squared */
    color: white; /* Change text color to white */
    font-weight: bold; /* Add some boldness to the text */
    transition: background-color 0.3s ease; /* Add a smooth transition on hover */
}

.project-button:hover {
    background-color: #2b3036;
}
